5,35 * * * * /usr/bin/php /var/www/html/jupiter/rss2db/rss2db.php > /tmp/rss2db.log 2>&1
10,40 * * * * /home/wkodate/app2web.sh > /tmp/app2web.log 2>&1
10,40 * * * * /usr/bin/php /var/www/html/jupiter/db2json/db2json.php > /tmp/db2json.log 2>&1
