<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>なんJまとめβ</title>
        
        <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../css/flat-ui.css" rel="stylesheet">
        
        <script src="https://www.google.com/jsapi"></script>
        <script src="../js/feed.js"> </script>
        <script src="../js/rssList.js"> </script>

    </head>
    <body>
        <div class='container' style='padding:20px 0'>
            <div class='row'>
            <h2>なんJまとめβ</h2>
            <table class='table table-striped'>
                <thead>
                <tr><th>新着記事</th></tr>
                </thead>
                <tbody id='feed'>
                </tbody>
            </table>
            </div>

        </div>
        
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    </body>
</html>
